@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

a{
    text-decoration: none;
    color: inherit;
}

.app{
    min-height: 100vh;
    color: white;
    background: linear-gradient(#0b004e, #1d152f, #002834);
    padding-bottom: 70px;
}

.crypto-table {
    background: linear-gradient(rgba(84, 3, 225, 0.15), rgba(105, 2, 153, 0.15));
}

.spinner{
    display: grid;
    place-self: center;
    min-height: 50vh;
}
.spin{
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    place-self: center;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
